<!DOCTYPE html>
<html>
<head>
    <title>Meal List</title>
</head>
<body>
    <h1>Meals Logged</h1>

    <form method="GET">
    <input type="date" name="date" value="{{ selected_date|default:'' }}">
    <button type="submit">Filter</button>
</form>

<form method="GET">
    <input type="meal of the day" name="meal of the day" value="{{ selected_meal_of_the_day|default:'' }}">
    <button type="submit">Filter</button>
</form>

<h>Total calories for the day: </h>
<h>total_calories for  {{ selected_date|default:"today" }}: {{ total_calories }}</h>
    <ul>
        {% for meal in meals %}
            <li>
                <strong>{{ meal.meal_of_the_day }}</strong> - {{ meal.total_calories }} kcal
                <br>
                food item: {{meal.food_item}}
                <br>
                fats: {{meal.fats}}
                <br>
                proteins: {{meal.proteins}}
                <br>
                carbs: {{meal.carbs}}
                <br>
                quantity: {{meal.quantity}}
                <br>
                Logged on: {{ meal.date }}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'log_meal' %}">Log Another Meal</a>
    <p>
    <a href="{% url 'dashboard' %}">Back to Dashboard</a></p>

</body>
</html>